body {
    background: #ddd;
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    margin: 0;
}

header {
    background-image:  url("congruent_outline.png");
    font-family: 'Roboto Slab', serif;
    padding: 0.2em 1em;
    -webkit-box-shadow: 0px 2px 2px #444;
    -moz-box-shadow: 0px 2px 2px #444;
}

.fa {
    color:#ddd;
}

section, h1 {
    max-width: 1170px;
    margin-left: 20px;
    margin-right: auto;
}
h1{
    font-size: 34px;
    line-height: 34px;
    color: #ddd;
}
h2{
    display: inline-block;
}

.todo-section{
    padding:0 2px;
    border-left:1px solid #c80000;
}

ul{
    background-image:  url("double_lined.png");
    margin-top:0;
    padding: 0;
    width: auto;
    max-width: 75%;
}

li, #formDiv{;
    /*background-color: #f0f0f0;*/
    list-style: none;
    font-size: 20px;
    font-weight:bold;
    font-family: 'Roboto Slab', serif;
    margin: 0px;
    border-bottom: 1px dotted #444;
    border-left:1px solid #C80000;
}
li:hover {
    background: rgba;
    opacity: 0.2;
    -webkit-transition: all 0.4s;
    -moz-transition:    all 0.4s;
    -ms-transition:     all 0.4s;
    -o-transition:      all 0.4s;
}
.button {
    color: white;
    font-family: Helvetica, Arial, Sans-Serif;
    border:none;
    outline: none;
    background: #666;
    font-size: 20px;
    position: relative;
    padding: 4px 8px;
    margin:10px 5px;
    -webkit-box-shadow: 0px 2px 1px #444;
    -moz-box-shadow: 0px 2px 1px #444;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 4px;
}
.button:hover {
    -webkit-box-shadow: 0px 0px 0 #666;
    -moz-box-shadow: 0px 0px 0 #666;
    opacity: 0.6;
    top: 1px;
}

.undo {
    background: #666;
}
.done {
    background: green;
}
.edit ,.edit i.fa{
    color: #444;
    border:none;
    outline: none;
    background:none;
    font-size: 20px;
    position: relative;
}
.edit i.fa:hover{
    color:#888;
}

.isDone {
    background-color:rgba(0, 0, 0, 0.1);
    opacity: 1;
    text-decoration:line-through;
    font-weight: normal;
    color:#888;
}
.delete, .cancel{
    position: relative;
    background: #C80000;
    float:right;
}

#delete-done{
    font-size: 13px;
    position: relative;
    max-width:84px;
    word-wrap: break-word;
    padding: 0px 5px;
    float: right;
}

#formDiv{
    display:inline-block;
    margin:0;
    width:75%;
}
#todo-form {
    display: inline-block;
}
#new-todo, #edit-todo {
    font-family: 'Roboto Slab', serif;
    padding:2px;
    font-size: 18px;
    height:20px;
    border:none;
    background: none;
    margin:12px 0px 12px 10px;
    outline:none;
}
#new-todo:focus, #edit-todo:focus{
    border-bottom:1px solid #888;
     font-weight:bold;
}
#editFormDiv {
    display:inline-block;
    margin:0;
    width: 100%;
}
#edit-form {
    display: inline-block;
    width: 92%;
}
#edit-todo{
    width: 100%;
}
#count-active, #count-all, #count-complete {
    display: block;
    float:left;
    margin: 5px 0px 0px 40px;
    font-size: 20px;
    color:#888;
    font-size:18px;
    font-weight:normal;
}

